.idea
*.apk
.idea/workspace.xml
.idea/libraries/*
local.properties
OnlyOne.iml
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/4.10.1/taskHistory/taskHistory.lock
.gradle/4.10.1/taskHistory/taskHistory.bin
.gradle/4.10.1/fileHashes/resourceHashesCache.bin
.gradle/4.10.1/fileHashes/fileHashes.lock
.gradle/4.10.1/fileHashes/fileHashes.bin
.gradle/4.10.1/fileChanges/last-build.bin
build/intermediates/lint-cache/maven.google/master-index.xml
build/intermediates/lint-cache/maven.google/com/google/firebase/group-index.xml
build/intermediates/lint-cache/maven.google/com/crashlytics/sdk/android/group-index.xml
build/intermediates/lint-cache/maven.google/android/arch/persistence/room/group-index.xml
app/release/output.json
app/app.iml
build/intermediates/lint-cache/maven.google/com/android/support/constraint/group-index.xml
.gradle/5.1.1/fileHashes/fileHashes.lock
.gradle/5.1.1/fileHashes/fileHashes.bin
.gradle/5.1.1/fileChanges/last-build.bin
.gradle/5.1.1/executionHistory/executionHistory.lock
.gradle/5.1.1/executionHistory/executionHistory.bin
.gradle/5.1.1/gc.properties
.gradle/buildOutputCleanup/cache.properties
.gradle/5.1.1/javaCompile/taskHistory.bin
.gradle/5.1.1/fileContent/fileContent.lock
.gradle/5.1.1/fileHashes/resourceHashesCache.bin
.gradle/5.1.1/javaCompile/classAnalysis.bin
.gradle/5.1.1/javaCompile/javaCompile.lock

app/src/main/.DS_Store

app/src/main/assets/.DS_Store

app/src/main/res/.DS_Store

gradlew

app/src/main/java/mms5/.DS_Store

app/src/main/java/mms5/onepagebook/.DS_Store

app/src/main/java/mms5/onepagebook/com/.DS_Store

app/src/main/java/mms5/onepagebook/com/onlyonesms/.DS_Store
